p img {
	max-width: 100%;
}

html {
    	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

div .well {
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
