---
layout: default
---

<div class="well" style="text-transform: capitalize">
	{% if site.posts != empty %}
	<h1>TAGS</h1>
	<ul class="tags-box">
		{% for tag in site.tags %}
		<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}<span class="size"> ({{ tag[1].size }})</span>&nbsp</a>
		{% endfor %}
	</ul>

	{% for tag in site.tags %}
        <h1 id="{{ tag[0] }}">{{ tag[0] }}</h1>
	<ul>
		{% for post in tag[1] %}
    	<li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d" }} - {{ post.title }}</a></li>
		{% endfor %}
	</ul>
	{% endfor %}
	{% else %}
	<h1>No posts</h1>
	{% endif %}
</div>
